In [1]:
import pandas as pd

In [4]:
# read in cell list
df = pd.read_clipboard()

df.rename({'col':'cell_name'},axis=1,inplace=True)

df['sector'] = df['cell_name'].apply(lambda x:x[:6]+x[-1])

cell_list = ['BGMOML1812', 'GDNRML1811', 'GDNRML1812', 'MWBTML1816',
       'ON65ML1811', 'ON65ML1812', 'ON67ML1811', 'ON67ML1812',
       'ON67ML1813', 'ON67ML1816', 'ON88ML1811', 'ON88ML1816',
       'ON88ML1818', 'WDTCML1812', 'WDTCML1813', 'WDTCML1817']

In [24]:
# read in stat
stat = pd.read_csv('../src/STAT_4G_weekly/L2018WK42.csv',header=1)
for i in range(43,50):
    temp = pd.read_csv(f'../src/STAT_4G_weekly/L2018WK{i}.csv',header=1)
    stat = pd.concat([stat,temp],axis=0)
del temp

In [25]:
stat['sector'] = stat['CELL_NAME'].apply(lambda x:x[:6]+x[-1])

In [26]:
stat = stat[stat['sector'].apply(lambda x:x in df['sector'].values)]

In [29]:
stat['label'] = stat['DATE_TIME'].apply(lambda x:'before' if x <45 else 'after')

,CELL_NAME,MNC,DATE_TIME,RRC_SETUP_SERVICE_SUC,RRC_SETUP_SERVICE_ATT,ERAB_SETUP_SUC,ERAB_SETUP_ATT,USER_CONNECT_AVERAGE,USER_CONNECT_MAX,USER_ACTIVE_AVERAGE,...,SUM(M.INTRA_FREQ_HO_OUT_ATT),SUM(S.INTER_RAT_3G_HO_IN_SUC),SUM(S.INTER_RAT_3G_HO_IN_ATT),SUM(M.INTER_RAT_3G_HO_OUT_SUC),SUM(M.INTER_RAT_3G_HO_OUT_ATT),SUM(M.CS_FALL_BACK_3G_SUC),SUM(M.CS_FALL_BACK_3G_ATT),SUM(M.SRVCC_HO_SUC),SUM(M.SRVCC_HO_ATT),sector
34731,ON67ML1811,3,45,34032,34066,42437,42457.0,36.90,53.00,5.82,...,61155,0.0,0.0,1,1,0,0,1,1,ON67ML1
34732,ON67ML1812,3,45,110708,110745,141373,141393.0,53.43,75.00,7.54,...,104261,0.0,0.0,2,2,0,0,2,2,ON67ML2
34733,ON67ML1813,3,45,134279,134307,186918,186941.0,97.14,127.00,17.63,...,66920,0.0,0.0,27,27,0,0,27,27,ON67ML3
34734,ON67ML2111,3,45,28561,28574,30924,30930.0,26.85,40.00,4.56,...,27692,0.0,0.0,2,2,0,0,2,2,ON67ML1
34735,ON67ML2112,3,45,63238,63252,72282,72284.0,32.30,49.00,6.58,...,35704,0.0,0.0,3,3,0,0,3,3,ON67ML2
34736,ON67ML2113,3,45,44282,44286,55233,55244.0,37.71,53.00,4.17,...,15126,0.0,0.0,9,9,0,0,9,9,ON67ML3
39504,ON67ML1811,3,46,263775,264006,319273,319346.0,46.82,61.75,6.02,...,331579,0.0,0.0,3,3,0,0,3,3,ON67ML1
39505,ON67ML1812,3,46,679692,679909,863322,863395.0,78.07,114.50,9.41,...,542107,0.0,0.0,15,15,0,0,15,15,ON67ML2
39506,ON67ML1813,3,46,898208,898325,1247299,1247392.0,113.65,139.75,18.00,...,344342,0.0,0.0,67,68,0,0,67,68,ON67ML3
39507,ON67ML2111,3,46,140281,140321,153104,153130.0,29.44,42.00,5.64,...,147871,0.0,0.0,3,3,0,0,3,3,ON67ML1
39508,ON67ML2112,3,46,297816,297866,341049,341078.0,36.53,58.00,5.70,...,162956,0.0,0.0,10,10,0,0,10,10,ON67ML2
39509,ON67ML2113,3,46,216295,216316,278913,278949.0,26.28,42.75,3.23,...,70059,0.0,0.0,29,29,0,0,29,29,ON67ML3
39731,ON67ML1811,3,47,135040,135106,157230,157260.0,52.97,71.50,7.25,...,126769,0.0,0.0,2,2,0,0,2,2,ON67ML1
39732,ON67ML1812,3,47,367718,367860,453988,454038.0,100.70,132.50,13.67,...,237995,0.0,0.0,7,7,0,0,7,7,ON67ML2
39733,ON67ML1813,3,47,596010,596564,809177,809248.0,123.71,155.00,23.63,...,196683,0.0,0.0,41,41,0,0,41,41,ON67ML3
39734,ON67ML2111,3,47,10662,10672,12155,12166.0,9.57,18.00,1.62,...,42609,0.0,0.0,2,2,0,0,2,2,ON67ML1
39735,ON67ML2112,3,47,26318,26322,29895,29903.0,12.32,23.00,1.81,...,51079,0.0,0.0,6,6,0,0,6,6,ON67ML2
39736,ON67ML2113,3,47,19158,19167,26640,26652.0,7.82,17.00,1.26,...,21834,0.0,0.0,12,12,0,0,12,12,ON67ML3
40006,ON67ML1811,3,48,322236,322425,389241,389312.0,47.71,64.25,5.86,...,350591,0.0,0.0,0,0,0,0,0,0,ON67ML1
40007,ON67ML1812,3,48,865201,865482,1082090,1082192.0,76.01,104.25,11.28,...,595548,0.0,0.0,28,28,0,0,28,28,ON67ML2
40008,ON67ML1813,3,48,1048032,1048171,1453489,1453584.0,118.21,145.75,18.38,...,358527,0.0,0.0,64,65,0,0,64,65,ON67ML3
40009,ON67ML2111,3,48,26435,26461,30323,30335.0,10.17,19.75,1.80,...,123846,0.0,0.0,9,9,0,0,9,9,ON67ML1
40010,ON67ML2112,3,48,71771,71788,82607,82621.0,15.19,27.75,1.91,...,135678,0.0,0.0,9,9,0,0,9,9,ON67ML2
40011,ON67ML2113,3,48,30617,30631,44212,44229.0,7.64,17.75,1.09,...,51196,0.0,0.0,20,20,0,0,20,20,ON67ML3
40094,ON67ML1811,3,49,316239,316435,382199,382310.0,47.10,65.75,6.79,...,411778,0.0,0.0,1,1,0,0,1,1,ON67ML1
40095,ON67ML1812,3,49,852038,852327,1065153,1065242.0,101.01,133.50,13.47,...,614082,0.0,0.0,22,22,0,0,22,22,ON67ML2
40096,ON67ML1813,3,49,1089374,1089541,1505033,1505157.0,108.92,142.00,15.75,...,394360,0.0,0.0,79,81,0,0,79,81,ON67ML3
40097,ON67ML2111,3,49,17739,17772,21330,21352.0,7.71,16.25,1.64,...,112728,0.0,0.0,4,4,0,0,4,4,ON67ML1
40098,ON67ML2112,3,49,71416,71443,81812,81818.0,14.50,26.25,2.03,...,133913,0.0,0.0,9,9,0,0,9,9,ON67ML2
40099,ON67ML2113,3,49,33247,33260,49570,49597.0,8.25,21.25,1.08,...,54298,0.0,0.0,29,31,0,0,29,31,ON67ML3